<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>注册</title>
  </head>
  <body>
    <div>
      <h1>注册</h1>
      <form action="/signup" method="post">
        <p>Name: <input name="name" value="" /></p>
        <p>Password: <input name="password" type="password" /></p>
        <p>ConfirmPassword: <input name="password1" type="password" /></p>
        <p>Email: <input type="email" name="email" id="email" /></p>
        <p>Gender: <input type="text" name="gender" /></p>
        <p><input type="submit" value="Submit" /></p>
      </form>
    </div>
  </body>
</html>
